typer[all]
rich
sqlalchemy
fastapi
uvicorn
python-multipart
pydantic
pytsk3
libewf-python
libvhdi-python
libesedb-python
fpdf2
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
python-dotenv
